/incus-auto.override.yaml
/terraform/id_ecdsa
/terraform/id_ecdsa.pub
/terraform/.terraform.lock.hcl
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
/terraform/ociapi_public.pem
/terraform/ociapi_private.pem
/terraform/tmp-ansible-inventory.yaml
/terraform/tmp-ssh_known_hosts
/terraform/tmp-ssh_config
/SRC/gfarm
/SRC/gfarm-gridftp-dsi
/SRC/lustre-release
/SRC/nextcloud-gfarm
