/incus-auto.override.yaml
/CONF/admin_public.pem
/CONF/admin_private.pem
/CONF/sshkey
/CONF/sshkey.pub
/CONF/.terraform.lock.hcl
/CONF/.terraform/
/CONF/terraform.tfstate
/CONF/terraform.tfstate.backup
/CONF/my.tfvars
