#cloud-config
timezone: ${timezone}
yum_repos:
  ${ol_ver}_developer_EPEL:
    name: Oracle Linux $releasever EPEL Packages for Development ($basearch)
    baseurl: https://yum$ociregion.$ocidomain/repo/OracleLinux/${ol_ver}/developer/EPEL/$basearch/
    enabled: true
    gpgcheck: true
    gpgkey: file:///etc/pki/rpm-gpg/RPM-GPG-KEY-oracle
package_upgrade: true
packages:
  - httpd
runcmd:
  - systemctl disable --now firewalld
#  - systemctl enable httpd
#  - systemctl restart httpd
# Add private subnet to DNS search
  - sed -i '/^search/s/$/ private.vcn.oraclevcn.com/g' /etc/resolv.conf
  - chattr -R +i /etc/resolv.conf
